# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# IDE settings
.vscode/
.idea/

# Environment variables
.env
*.env

# Firebase / Service account keys
serviceAccountKey.json

# Audios folder
/app/audios/

# igonre the mp3 files 
*.mp3
